:root{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;
}
#box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid  rgb(48, 177, 228);
    border-radius: 10px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:20px;
    box-sizing: border-box;
    color: rgb(48, 177, 228) ;
    text-align: center;
    font-family: cursive;
}
.container{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tweep{
    position: relative;
    top: 70px;
    right: 75px;
   
}
#box:hover{
    color: rgb(48, 177, 228);
    box-shadow: 0px 0px 15px white, 0px 0px 15px blue;
}

#tweep:hover{
    color: white;
}
#head{
    width: 80px;
    height: 80px;
    border: 1px solid rgb(48, 177, 228);
    position: absolute;
    top:10vh ;
    border-radius: 50%;
    background-image: url(./header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    

}
#head:hover{
    box-shadow:0px 0px 15px white, 0px 0px 15px blue ;
}

#foot{
    
    text-align: center;
    color:rgb(48, 177, 228);
}
